<section class="section" data-section-id="{{ section.id }}" data-section-type="promo-block" style="background-color: #E4EEEF;">
   <h2 class="image_list_title">{{ section.settings.title | escape }}</h2>
  <div class="container">
    {%- capture block_list -%}
   
      <div class="block-list new__block__list">
        {%- for block in section.blocks -%}
          <div id="block-{{ block.id }}" class="block-list__item {% if section.settings.expand_items %}block-list__item--grow{% endif %} 1/2--tablet-and-up 1/3--desk" {{ block.shopify_attributes }}>
            <div class="image_list_promo_block promo-block promo-block--{{ block.settings.content_position | replace: '_', '-' }} {% if block.settings.show_overlay %}promo-block--overlay{% endif %} promo-block--{{ section.settings.section_size }}">
              {%- if block.settings.image -%}
                <div class="promo-block__image-clip" id="image_list_pic">
                  <div class="promo-block__image-wrapper" style="color: #000;text-align: center; display: flex; flex-direction: column; align-items: center;">
                  	<img alt="{{ block.settings.image.alt | escape }}" class="image_list_pics" style="width: 50%;" src="{{ block.settings.image | img_url: 'x480' }} [--phone] | {{ block.settings.image | img_url: 'x800' }}" />
                    {%- if block.settings.image_list_title != blank -%}
                    	<h2 style="font-weight: bold;color: #414141; font-size: 20px;margin: 0;">{{ block.settings.image_list_title }}</h2>
                    {%- endif -%}
                    <p style="margin: 0;color: #414141;">{{ block.settings.image_list_text }}</p>
                    <p style="margin: 0;color: #414141;">{{ block.settings.image_list_second_text }}</p>
                  </div>
                </div>
              {%- endif -%}

              

              <style>
                #block-{{ block.id }} .promo-block {
                  background-color: {{ block.settings.background }};
                  color: {{ block.settings.text_color }}
                }

                #block-{{ block.id }} .button {
                  background: {{ block.settings.button_background }};
                  color: {{ block.settings.button_text_color }};
                }
                .image_list_title {
                  text-align: center; 
                  font-size: 28px;
                  font-weight: bold;
                  color: #414141;
                  font-family: 'Arial Black', sans-serif;
                  padding-top: 15px;
                }
                @media screen and (max-width: 640px) {
                  .image_list_pics {
                   margin-top: 20px; 
                  }
                 .image_list_title {
                  font-size: 24px; 
                 }
                 .new__block__list .block-list__item {
                    margin-top: -30px;
                   margin-bottom: 20px;
                 }
                }
                #image_list_pic picture {
                  display: block !important;
                  width: max-content !important;
                }
              </style>

              {%- if block.settings.image -%}
                <noscript>
                  <style>
                    #block-{{ block.id }} .promo-block__image-wrapper {
                      background-image: url({% if block.settings.stretch_image %}{{ block.settings.image | img_url: '800x' }}{% else %}{{ block.settings.image | img_url: 'x400' }}{% endif %});
                    }
                  </style>
                </noscript>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endcapture -%}

    {%- if section.settings.stack_mobile -%}
      {{ block_list }}
    {%- else -%}
      <div class="scroller">
        <div class="scroller__inner" style="padding-bottom: 0;">
          {{ block_list }}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Image list",
  "settings": [
    {
      "type": "checkbox",
      "id": "expand_items",
      "label": "Expand blocks to fill row",
      "default": false
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "Block height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "stack_mobile",
      "label": "Stack on mobile",
      "default": false
    },
	{
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800 x 800px .png with transparency recommended"
        },
        {
          "type": "checkbox",
          "id": "stretch_image",
          "label": "Stretch image (1000 x 500px .jpg recommended)",
          "default": false
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
		{
          "type": "text",
          "id": "image_list_title",
          "label": "Heading",
          "default": "Your title"
        },
		{
          "type": "text",
          "id": "image_list_text",
          "label": "Text",
          "default": "Your text"
        },
		{
          "type": "text",
          "id": "image_list_second_text",
          "label": "Second text",
          "default": "Your text"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Image list",
      "settings": {},
      "blocks": [
        {
          "type": "item",
          "settings": {
            "background": "#6f42ef"
          }
        }
      ]
    }
  ]
}
{% endschema %}